*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* making the untility styles for common attributes and classes */

body{
    font-family: roboto, arial, sans-serif;
    text-decoration: none;
    min-height: 140vh;
    background: #f1f3f6;
}

 .none{
     display: none;
 }

.flex{
    display: flex;

}

.fa{
    margin: 0px;
    
}

.fa-angle-down{
    font-weight: lighter;
    margin: 0px;
}

.fa-user{
    border-radius: 50%;
}

/* styling the navigation and heading */

.heading_navigation{
    background-color: #2874f0;
    height: 56px;
    position: sticky;
    z-index: 2;

}

.nav_container{
    align-items: center;
    max-width: 1248px;
    margin: auto;
    width: 100%;
    position: relative;
    left: 61px;
}

.logo{
    flex-direction: column;
    width: fit-content;

}

.anchor{
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;

}

.flip_logo img{
    width: 75px;
}

.anchor:hover{
    text-decoration: underline;
}

.anchor{
    font-size: 11px;
    font-style: italic;
    margin-top: -5px;
}

.plus img{
    width: 10px;
}

.plus_lan{
    color: #ffe500;
    margin: 0px 2px;
    font-weight: bold;
}

.search_bar_container{
    min-width: 304px;
    width: 708px;
}


.search_bar{
    max-width: 564px;
    width: 100%;
    margin-left: 10px;
    box-shadow: 0px 2px 4px 0 rgb(0 0 0 /23%);
}

.search_box{
    outline: none;
    padding: 0px 16px;
    height: 36px;
    border-radius: 2px 0px 0px 2px;
    border: 0;
    width: 100%;
    font-size: 14px;
    
}

.btn_search{
    background: #fff;
    border: 1px solid #fff;
    padding: 4px 12px 4px 8px;
    width: 44px;
    height: 36px;
    cursor: pointer;
    border-radius: 0px 2px 2px 0px;
    color: #4874f0;
    font-size: 19px;
}

.login{
    position: relative;
    left: 45px;
}

.login_btn{
    color: #2874f0;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    background: #fff;
    letter-spacing: 1px;
    height: 32px;
    padding: 6px 40px;
    font-weight: bold;
    margin: 0px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.more , .cart{
    position: relative;
    left: 45px;
    margin-left: 50px;

}

.more_lan , .cart_lan{
    color: white;
    font-weight:  bold;
    margin: 0px 20px;
    cursor: pointer;
    font-size: 16px;

}

.heading_categories{
    background: #fff;
    justify-content: center;
    min-height: 112px;
    border-bottom: 2px solid lightgray;
}


.heading_category_list{
    list-style: none;
    max-width: 1280px;
    justify-content: space-between;
    width: 100%;

}

.heading_category_items{
    padding: 12px 8px;
    cursor: pointer;
    text-align: center;
}

.heading_category_items:hover{
    color: #2874f0;

}

.cat_images{
    height: 64px;
    width: 64px;
    margin-bottom: 3px;
}

.heading_item_name{
    font-size: 14px;
    font-weight: 550;
}

.heading_category_item:first-child{
    padding-left: 22px;
}

.heading_category_items:last-child{
    padding-right: 22px;
}

/* Styling the drop down menu */

.pointer{
    height: 20px;
    width: 20px;
    background: #fff;
    transform: rotate(45deg);
    position: relative;
    top: 10px;
    left: 50%;
}

.login_dropdown , .more_dropdown{
    position: relative;
    top: 12px;
}

.more_dropdown{
    right: 40px;
}

.login_dropdown_list , .more_dropdown_list{
    position: absolute;
    list-style: none;
    background-color: #fff;
    width: max-content;
    box-shadow: 0 4px 16px 0 rgb(0 0 0 /20%);
    min-width: 24px;
    transform: translate(-30px);
}


.login_drop_li , .more_drop_li{
    padding: 16px 20px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
    cursor: pointer;
}

.login_drop_li:last-child , .more_drop_li:last-child{
    border-bottom: none;

}

.login_drop_li:first-child{
    padding: 20px;
}

.login_drop_li:first-child:hover{
    background: #fff;
}

.login_drop_li:hover , .more_drop_li:hover{
    background: #fafafa;
}

.new_login{
    font-weight:bold
}

.sign_li{
    justify-content: space-between;
    font-size: 14px;
}

.sign_up{
    text-decoration: none;
    color: #2874f0;
}

.more:hover .more_lan{
    position: relative;
    top: 10px;
}

.more_pointer{
    left: 80%;
}

.more_icon{
    width: 25px;
    color: #2874f0;
}

.login:hover .login_dropdown , .more:hover .more_dropdown{
    display: block;
}

<!-- Mobile section --> */

.card{
    box-shadow: rgb(177,174,174) 0px 0px 5px 1px;
    padding: 10px 0px;
    margin: 10px 5px;
    border-radius: 5px;
}
 .common-heading{
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 5px 20px;
     margin-top: 20px;
     box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
     background: #fafafa;
     border-bottom: 1px solid rgba(0,0,0,.1);
 }
 .common-heading-left {
     display: flex;
     justify-content: space-around;
     font-size: 20px;
     font-weight: 400;
     padding:auto;
 }

 .common-heading-left p{
     color: #2874f0;
     margin-top: 5px;
 }

 .timer{
     margin-left: 20px;
 }

 .timeleft{
     margin-left: 20px;
     text-align: center;
 }
 .common-heading-left h2{
     font-size: 15px;
     padding: 5px 0px;
     color: rgb(145,141,138) ;
     font-weight: 200;
 }
 .common-heading-right button{
     width: 90px;
     height: 40px;
     font-size: 18px;
     background-color: #2874f0;
     border: none;
     color: white;
     border-radius: 2px;
 }
 .common-row{
     display: flex;
     justify-content: space-evenly;
     width: 100%;
     max-height: 366px;
     /* margin: 10px 0px; */
     background: #fff;
     padding-top: 10px;
 }
 .common-col{
     text-align: center;
     line-height: 22px;
 }
 .common-col img{
     width: 69px;
     height: 150px;
     transition: 300ms;
 }
 .common-col img:hover{
     transform: scale(0.9);
 }
 .common-col h3,h4,h6{
     text-transform: capitalize;
     letter-spacing: 1px;
     cursor: pointer;
 }
 .common-col h3{
     margin-top: 10px;
     font-size: 16px;
 }
 .common-col h4{
     color: green;
     font-size: 14px;
     font-weight: 300;
 }
 .common-col h6{
    color: rgb(161,161,161);
    font-size: 12px;
    font-weight: 100;
 }

 
 /* <!-- headphones and speaker section --> */
.col-headphones img{
    width: 125px;
    height: 150px;
}
/* <!-- mens clothing --> */
.col-men img{
    width: 100px;
    height: 150px;
}
/* <!-- Furniture Bestsellers section --> */


.col-furniture img{
  width: 130px;
  width: 150px;
}
/* <!-- trending offers section --> */
.col-tranding img{
    width: 80px;
    height: 150px;
}

































 


































